"$schema" = "https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json"
final_space = true
version = 3

[palette]
os = "#ACB0BE"
pink = "#F5BDE6"
lavender = "#B7BDF8"
blue = "#8AADF4"

[[blocks]]
alignment = "left"
type = "prompt"

[[blocks.segments]]
foreground = "p:os"
style = "plain"
template = "{{ .Icon }} "
type = "os"

[[blocks.segments]]
foreground = "p:pink"
style = "plain"
template = "{{ .Path }} "
type = "path"

[blocks.segments.properties]
folder_icon = "...."
home_icon = "~"
style = "agnoster_short"

[[blocks.segments]]
type = "docker"
style = "powerline"
foreground = "p:grey"
background = "transparent"
template = " {{ .Context }} "

[blocks.segments.properties]
display_default = true

cache_duration = "none"
[[blocks.segments]]
type = "git"
foreground = "p:lavender"
style = "plain"
template = "{{ .HEAD }} {{ .BranchStatus }}{{ if .Working.Changed }} {{ .Working.String }}{{ end }}{{ if and (.Staging.Changed) (.Working.Changed) }} |{{ end }}{{ if .Staging.Changed }} {{ .Staging.String }}{{ end }}"

[properties.untracked_modes]
"/Users/user/Projects/oh-my-posh/" = "no"

[blocks.segments.properties]
fetch_status = true
fetch_upstream_icon = true
source = "cli"
branch_icon = " "
cherry_pick_icon = " "
commit_icon = " "
merge_icon = " "
no_commits_icon = " "
rebase_icon = " "
revert_icon = " "
tag_icon = " "

[[blocks]]
alignment = "right"
type = "prompt"

[[blocks.segments]]
type = "aws"
style = "plain"
foreground = "p:grey"
background = "transparent"
template = " {{ .Env.AWS_PROFILE }}"
cache_duration = "none"

[[blocks.segments]]
style = "plain"
foreground = "p:lavender"
template = "\n"
type = "text"

[transient_prompt]
template = '❯ '
background = 'transparent'
foreground_templates = [
  '{{if gt .Code 0}}red{{end}}',
  '{{if eq .Code 0}}p:lavender{{end}}',
]
